[Unit]
Description=X Settings Daemon

[Service]
# See https://github.com/chjj/compton/issues/477
ExecStart=/usr/bin/env allow_rgb10_configs=false compton
ExecStop=/usr/bin/pkill compton

[Install]
WantedBy=wm.target
